.place__image {
    width: 440px;
    height: 440px;
}

@media (max-width: 320px) {
    .place__image {
      width: 320px;
      height: 320px;
    }
  }

  @media (min-width: 321px) and (max-width: 768px) {
    .place__image {
      width: 340px;
      height: 340px;
    }
  }

