.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 425px) {
  .photo-grid__item {
    padding-bottom: 12px;
  }

  .photo-grid__item:last-of-type {
    padding-bottom: 0px;
  }
}
