.place__card-website {
  align-self: flex-end;
}

@media (max-width: 425px) {
  .place__card-website {
    margin: 0;
    padding: 0;
    align-self: flex-start;
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .place__card-website {
    font-size: 18px;
    line-height: 22px;
  }
}
