.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 442px 92px 148px;
}

  @media (max-width: 320px) {
    .intro {
     margin: 0;
     padding: 0;
     margin-bottom: 64px;
     margin-left: 16px;
    }
  }

  @media (min-width: 321px) and (max-width: 768px) {
    .intro {
      padding: 0;
      padding-left: 24px;
      width: 720px;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .intro {
      margin-bottom: 92px;
      padding-left: 48px;
    }
  }