.places__card-link {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border-bottom: solid 1px;
}

.places__card-link:hover {
  opacity: 0.5;
}
